{% extends "base.html" %}

{% block title %}Activity Feed{% endblock %}
{% block header %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="../static/css/flatpickr.min.css">
<script src="../static/js/flatpickr.js"></script>

<link rel="stylesheet" href="../static/css/jquery.dataTables.css" />
<script src="../static/js/jquery.dataTables.js"></script>


{% endblock %}

{% block content %}
ERROR of sorts

{% endblock %}